---
layout: default
---

<div class="home">
  <div class="post" itemscope itemtype="http://schema.org/BlogPosting" >

    CI Test!
    
    {% for post in paginator.posts %}
  
      {% for tag in post.tags %}
          {% if tag == "announcements" %}

              <header class="post-header">
                  <p class="post-meta">
                      {{ site.locales[site.default_locale].PostedInCategories }}
                      {% for cat in post.categories %}
                          <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>&nbsp;
                      {% endfor %}
                      {% if post.tags != empty %}
                          {{ site.locales[site.default_locale].Taggedwith }}
                          {% for tag in post.tags %}
                              <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless post.tags.last == tag %}, {% endunless %}
                          {% endfor %}
                      {% endif %}
                      <time itemprop="datePublished" datetime="{{ post.date | date: '%Y-%m-%d' }}">
                          {{ site.locales[site.default_locale].PostDate }}{{ post.date | date: "%b %-d, %Y" }}
                      </time>
                  </p>
              </header>

              <article class="post-content" itemprop="articleBody">
                  {{ post.content }}
              </article> <hr />

              <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
           {% endif %}
         {% endfor %}
    {% endfor %}
  
  </div>
</div>
