<div class="sidebar-module" style="text-align:center;">
    {% for category in site.data[site.current_year].sponsors.sponsors.categories %}

      <h4>{{ category.title }}</h4>
    
      {% for sponsor in category.sponsors %}
        <div>
            <a href="{{sponsor.href}}" target="_blank">
                <img src="/images/{{sponsor.image}}" alt="{{sponsor.title}}" width="150"/>
            </a>
        </div>
      {% endfor %}
      <br />
    {% endfor %}
    
    <h4>Brought to you by</h4>

    {% for broughtby in site.data.sponsors.broughtby.sponsors %}
      <div>
          <a href="{{broughtby.href}}" target="_blank">
              <img src="/images/{{broughtby.image}}" alt="{{broughtby.title}}" width="150"/>
          </a>
      </div>
      <br />
    {% endfor %}

</div>
