---
layout: fullpage
permalink: /sponsors/
---

<br />
<div style="text-align:center;">
  <h2>Corporate Sponsorships</h2>

  <p>For a copy of the C++Now Corporate Sponsorship Prospectus contact <a href="mailto:sponsorship@cppnow.org?Subject=C++Now%20Sponsorship" target="_top">sponsorship@cppnow.org</a></p>

  {% for category in site.data[site.current_year].sponsors.sponsors.categories %}
    <h3>{{ category.title }}</h3>
    
    {% for sponsor in category.sponsors %}
      <div>
          <a href="{{sponsor.href}}" target="_blank">
              <img src="/images/{{sponsor.image-lrg}}" alt="{{sponsor.title}}"/>
          </a>
      </div>
    {% endfor %}
    <br />
  {% endfor %}
    
  <h3>Brought to you by</h3>

  {% for broughtby in site.data[site.current_year].sponsors.broughtby.sponsors %}
    <div>
        <a href="{{broughtby.href}}" target="_blank">
            <img src="/images/{{broughtby.image-lrg}}" alt="{{broughtby.title}}"/>
        </a>
    </div>
    <br />
  {% endfor %}
</div>

<hr>

<a href="/individual_sponsors/">Individual Sponsorships</a> are also available.
